html {
  background-color: #eee9de;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  text-align: center;
  padding: 2em 0 0;
}

img {
  display: block;
  width: 100%;
}

div {
  display: inline-block;
  vertical-align: middle;
  max-width: 25em;
  padding: 1em;
}

h2 {
  text-align: left;
  color: #333;
  font-weight: bold;
  margin: 0;
  padding: 0 0 1em;
}

p {
  text-align: left;
  color: #333;
}

a {
  text-align: center;
  border: 3px solid #333;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: .4em .75em .5em;
}

a:hover {
  color: white;
  background-color: #666;
  border: 3px solid #666;
}

.btn {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  max-width: 25em;
}
